[user]
	name = ownweight
	email = kanamorishuhei@gmail.com
[alias]
    st = status
    d = diff
    b = branch
    co = checkout
    cob = checkout -b
    cm = commit
    cp = cherry-pick
    f = fetch -p